.title{
    font-size: 0.5rem;
    color: var(--text);
    transition: ease-in-out 0.6s;
    margin: 0.1em auto;
    font-weight: 400;
}

.icon{
    min-width: var(--sidebar-width);
}

.container{
    padding: 0.625em 0;
    transition: ease-in-out 0.6s;
    text-align: left;
}

.hover:hover{
    background-color: rgba(128, 128, 128, 0.089);
    cursor: pointer;
}

.active i, .active p{
    color: var(--color-main);
    z-index: 2;
}

.active{
    position: relative;
}

.active::before{
    content: "";
    width: 95%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(128, 128, 128, 0.06);
    z-index: 1;
    border-radius: 5px;
}