/* Media */
@media (prefers-color-scheme: dark) {
    :root{
    /*  Colors  */
        --text: #E5E8EB;
        --text-low: #ffffff52;
        --bg: #1C1C1D;
        --bgc: #252728;
        --s2bg: var(--bg);
        --grad1: #1C1C1D;
        --grad2: black;
        --color-s2b: #1C1C1D;
        --color-s2w: var(--color-second);
    /*----------*/
    }
}
@media (prefers-color-scheme: light) {
    :root{
    /*  Colors  */
        --text: #333;
        --text-low: #626569;
        --bg: #F2F4F7;
        --bgc: #FFFFFF;
        --s2bg: var(--color-second2);
        --grad1: var(--color-second2);
        --grad2: #252728;
        --color-s2b: var(--color-second2);
        --color-s2w: var(--color-second2);
    /*----------*/
    }
}
/*-------------*/

/* Variables */
:root{
    /*  Colors  */
    --color-main: #F1504A;
    --color-main-low: color-mix(in srgb, var(--color-main) 15%, transparent);
    --color-second: #FDF4E7;
    --color-second2: #092846;
    --text-white: white;
    --text-black: black;
    --border: #7575757c;
    --border-low: #7575750d;
    --trans-grey: rgba(128, 128, 128, 0.09);
    /*----------*/
    /*    Font   */
    --icon-size: 1.5rem;
    --text-s: 0.6rem;
    --text-m: 0.8rem;
    --text-l: 1rem;
    --text-xl: 1.2rem;
    --text-xxl: 1.8rem;
    /*----------*/
}
/*------------*/

@media (max-width: 767px) {
    :root{
        /*    Font   */
        --icon-size: 1.1rem;
        --text-s: 0.5rem;
        --text-m: 0.6rem;
        --text-l: 0.8rem;
        --text-xl: 1rem;
        --text-xxl: 1.2rem;
        /*----------*/
    }
}

/* Text */
.poppins{
    font-family: poppins;
}
.poppins-black{
    font-family: poppins-black;
}
.text-s{
    font-size: var(--text-s);
}
.text-m{
    font-size: var(--text-m);
}
.text-l{
    font-size: var(--text-l);
}
.text-xl{
    font-size: var(--text-xl);
}
.text-xxl{
    font-size: var(--text-xxl);
}
.icon-size{
    font-size: var(--icon-size);
}
.c-text{
    color: var(--text);
}
.text-low{
    color: var(--text-low);
}
.text-a-l{
    text-align: left;
}
.text-a-r{
    text-align: right;
}
.text-a-c{
    text-align: center;
}
.font-bold{
    font-weight: bold;
}
.font-light{
    font-weight: lighter;
}
.w-400{
    font-weight: 400;
}
.text-black{
    color: black;
}
.text-white{
    color: white;
}
@media (max-width: 767px) {
    .text-white-m{
        color: white !important;
    }
    .text-m{
        color: var(--text) !important;
    }
}
/*---------------*/

/* Border Radius */
.rounded-s{
    border-radius: 0.3125em;
}

.rounded-m{
    border-radius: 0.625em;
}

.rounded-l{
    border-radius: 1em;
}

.rounded-xl{
    border-radius: 1.25em;
}

.rounded-full{
    border-radius: 50%;
}
/*---------------*/

/* Display */
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.wrap{
    flex-wrap: wrap;
}
.j-center{
    justify-content: center;
}
.j-spacebet{
    justify-content: space-between;
}
.j-around{
    justify-content: space-around;
}
.a-center{
    align-items: center;
}
.a-start{
    align-items: flex-start;
}
.flex-start{
    align-items: flex-start;
    justify-content: flex-start;
}
.center{
    justify-content: center;
    align-items: center;
}
.block{
    display: block;
}
.self-a-center{
    align-self: center;
}
.hidden{
    visibility: hidden;
}
.gap{
    gap: 1em;
}
.gap-2{
    gap: 2em;
}
.flex-break{
    flex-basis: 100%;
    height: 0;
}
/*---------*/

/* Cursor */
.curs-default{
    cursor: default;
}
.clickable{
    cursor: pointer;
    transition: ease-in-out 0.6s;
}
.clickable:hover{
    opacity: 80%;
    transform: scale(0.98);
}
/*--------*/

/* Margin */
.mrg{
    margin: 1em;
}

.mrh{
    margin: 0 1em;
}
.mrv{
    margin: 1em 0;
}
.mrl{
    margin-left: 1em;
}
.mrr{
    margin-right: 1em;
}
.mrr-2{
    margin-right: 2em;
}
.mrt{
    margin-top: 1em;
}
.mrb{
    margin-bottom: 1em;
}
.mrla{
    margin-left: auto;
}
.mrta{
    margin-top: auto;
}
/*--------*/

/* Padding */
.pd{
    padding: 1em;
}

.pd-2{
    padding: 2em;
}

.pd-s{
    padding: 0.5em;
}

.pd-l{
    padding: 2em;
}
.pdh{
    padding: 0 1em;
}
.pdh-2{
    padding: 0 2em;
}
.pdv{
    padding: 1em 0;
}
.pdv-2{
    padding: 2em 0;
}
.pdl{
    padding-left: 1em;
}
.pdr{
    padding-right: 1em;
}
.pdt{
    padding-top: 1em;
}
.pdb{
    padding-bottom: 1em;
}
/*--------*/

/* Colors */
.cMain{
    color: var(--color-main);
}
.cSecond{
    color: var(--color-second);
}
.bg-main{
    background-color: var(--color-main);
}
.bg-second{
    background-color: var(--color-s2b);
}
.bgc{
    background-color: var(--bgc);
}
.bg{
    background-color: var(--bg);
}
.cText{
    color: var(--text);
}
/*---------/

/* Dimensions */
.h-fit{
    height: fit-content;
}

.w-fit{
    width: fit-content;
}

.fit{
    height: fit-content;
    width: fit-content;
}

.w100{
    width: 100%;
}
.vw100{
    width: 100vw;
}
.h100{
    height: 100%;
}
.vh100{
    height: 100vh;
}
.full{
    width: 100%;
    height: 100%;
}
.full-view{
    width: 100vw;
    height: 100vh;
}
.full-view-min{
    min-width: 100vw;
    min-height: 100vh;
}
.circle{
    border-radius: 50%;
    height: auto !important;
    aspect-ratio: 1;
}
.grow-1{
    flex-grow: 1;
}
.grow-2{
    flex-grow: 2;
}
.grow-3{
    flex-grow: 3;
}
.borderless{
  border: none;
}
/*------------*/

/* Positions */
.pos-abs{
    position: absolute;
}
.pos-rel{
    position: relative;
}
.pos-sticky{
    position: sticky;
}
.pos-sticky{
    position: fixed;
}
.pos-center{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.pos-center-h{
    left: 50%;
    transform: translateX(-50%)
}
.pos-center-v{
    top: 50%;
    transform: translateY(-50%)
}
.top-left{
    top: 1em;
    right: 1em;
}
.bottom-left{
    bottom: 1em;
    right: 1em;
}
.pos-left{
    left: 0;
}
.pos-top{
    top: 0;
}
.pos-bottom{
    bottom: 0;
}
.pos-right{
    right: 0;
}
.z-1{
    z-index: 1;
}
.z-2{
    z-index: 2;
}
.z-10{
    z-index: 10;
}
.z-top{
    z-index: 999;
}
/*-----------*/

/* Filters */
.shadow-soft{
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.056);
}
.fade-out{
    opacity: 0;
}
.fade-in{
    opacity: 1;
}
/*---------*/

/* coontent */
.overflow-h{
    overflow: hidden;
}
.overflow-x-h{
    overflow-x: hidden;
}
.overflow-y-h{
    overflow-y: hidden;
}
.overflow-s{
    overflow: scroll;
}
.overflow-x-s{
    overflow-x: scroll;
}
.overflow-y-s{
    overflow-y: scroll;
}
.overflow-a{
    overflow: auto;
}
.overflow-x-a{
    overflow-x: auto;
}
.overflow-y-a{
    overflow-y: auto;
}
/*----------*/

/* Buttons */
.btn{
    border: none;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
.btn:hover{
    opacity: 0.8;
    transform: scale(1.05);
}
/*---------*/

/* Highlights */
.border-high{
    border: 2px solid red !important;
}
.border-high-y{
    border: 2px solid yellow !important;
}
.border-high-b{
    border: 2px solid blue !important;
}
.border-high-g{
    border: 2px solid green !important;
}
.text-high{
    color: black !important;
    background-color: yellow !important;
}
.cbg-light{
    background-color: #F2F4F7;
}
.cbg-dark{
    background-color: #1C1C1D;
}
.cbg-trans-grey{
    background-color: #7a7a7a17;
}
/*--------*/

/* Animation */
.ease-in-out{
    transition: ease-in-out var(--ease-duration);
}
/*-----------*/

/* List */
.no-style-list{
    list-style: none;
}
/*------*/

/* Scrollbar */

.no-scrollbar::-webkit-scrollbar {
    width: 0;
}

.scrollbar::-webkit-scrollbar {
    width: 4px;
    background-color: var(--trans-grey);
    border-radius: 5px;
}
.scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-main);
    border-radius: 5px;
}

/*-----------*/