:root{
    --pd:1em;
    --pdc: 0.5em;
}

.navigator{
    height: 100%;
}

.content{
    height: 100vh;
}

/* ---------- Home ----------- */
.homeLayout{
    display: grid;
    grid-template-columns: 1fr 360px;
    grid-template-rows: 1fr;
    grid-column-gap: var(--pd);
    grid-row-gap: 0px;
    padding: var(--pd);
    padding-left: 0;
    align-items: start;
}
.homeSide{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: var(--pd);
}
.homeBody{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: var(--pd);
}
.homeProfile{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 0px;
    grid-row-gap: calc(var(--pd)*2);
    min-width: 0;
}
.studentProfile{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: calc(var(--pd)*2);
    grid-row-gap: 0px;
    align-items: center;
}

/* -------------///-------------- */

/* -----------Schedule----------- */

.scheduleBody{
    display: grid;
    grid-template-columns: 0.26fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: var(--pd);
    grid-row-gap: 0px;
}

.scheduleSide{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: var(--pd);
}

/* --------------///------------- */

/* -----------Settings----------- */

.settingsLayout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: var(--pd);
    grid-row-gap: 0px;
}

.settingsBody{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: var(--pd);
}

.settingsSide{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.6fr;
    grid-column-gap: 0px;
    grid-row-gap: var(--pd);
}

/* --------------///------------- */

@media (max-width: 1100px) {
    .homeLayout{
        grid-template-columns: 1fr 300px;
    }
    .studentProfile{
        grid-template-columns: 88px 1fr;
    }
}


@media (max-width: 767px) {
    .navigator{
        height: 5em;
    }
    .content{
        height: calc(100vh - 5em);
    }
    .homeLayout{
        display: flex;
        flex-direction: column;
        padding: var(--pd);
        gap: var(--pd);
    }
    .homeBody,
    .homeSide,
    .homeProfile{
        display: flex;
        flex-direction: column;
    }
}

.content,
.homeLayout{
    height: 100vh;
    min-height: 100vh;
}

.homeLayout,
.homeBody,
.homeSide,
.homeProfile,
.studentProfile{
    min-height: 0;
    height: 100%;
}

.homeBody > *:last-child{
    height: 100%;
    min-height: 0;
    overflow: auto;
}

.homeSide > *{
    height: 100%;
    min-height: 0;
    overflow: auto;
}

.studentProfile img,
.studentProfile .avatar{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
}

@media (max-width: 767px) {
    .homeLayout{
        height: auto;
    }
    .homeBody > *:last-child,
    .homeSide > *{
        overflow: visible;
    }
}