:root{
    /*  Colors  */
    --color-main: #F1504A;
    --color-main-low: color-mix(in srgb, var(--color-main) 15%, transparent);
    --color-second: #FDF4E7;
    --color-second2: #092846;
    --text-white: white;
    --text-black: black;
    --border: #7575757c;
    --border-low: #75757515;
    --trans-grey: rgba(128, 128, 128, 0.09);
    /*----------*/
    /*    Font   */
    --icon-size: 1.5rem;
    --text-s: 0.6rem;
    --text-m: 0.8rem;
    --text-l: 1rem;
    --text-xl: 1.2rem;
    --text-xxl: 1.5rem;
    /*----------*/
}

@media (prefers-color-scheme: dark) {
  :root{
    --text: #E5E8EB;
    --text-low: #ffffff52;
    --bg: #1C1C1D;
    --bgc: #252728;
    --logo-color: var(--color-second);
}
}
@media (prefers-color-scheme: light) {
  :root{
    --text: #333;
    --text-low: #626569;
    --bg: #F2F4F7;
    --bgc: #FFFFFF;
    --logo-color: var(--color-second2);
}
}

@font-face {
    font-family: poppins;
    src: url(/fonts/poppins.ttf);
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: poppins;
    text-rendering: optimizeLegibility !important;
    font-smooth: always !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text);
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--bg);
}

.header{
  width: 100%;
  padding: 1em 2em;
  height: 8em;
}

.logo-title{
  display: flex;
  align-items: center;
}

.st0 {
    stroke: #000;
}

.st0, .st1 {
    fill: none;
    stroke-miterlimit: 10;
}

.st1 {
    stroke: var(--logo-color);
    stroke-width: 13px;
}

.st2 {
    fill: var(--color-main);
}

.st3 {
    fill: var(--logo-color);
}

.logo{
  width: 30px;
  height: 30px;
  margin-right: 1em;
}

.title{
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--text);
}

.head-title{
  font-size: 1.25rem;
  margin-top: 1em;
  color: var(--text);
}

.head-description{
  font-size: 0.9rem;
  margin-top: 0.25em;
  color: var(--text-low);
}

.main-container{
  width: 100%;
  height: calc(100% - 8em);
  overflow: hidden;
  overflow-y: auto;
  padding: 0 2em 1em 2em;
}

.main-container::-webkit-scrollbar {
    width: 6px;
    background-color: var(--trans-grey);
    border-radius: 5px;
}
.main-container::-webkit-scrollbar-thumb {
    background: var(--color-main);
    border-radius: 5px;
}

.api{
  width: 100%;
  overflow: hidden;
  height: 4em;
  margin: 1em 0;
  transition: ease-in-out 0.6s;
}

.api-expended{
}

.api-head{
  width: 100%;
  height: 4em;
  border-radius: 0.625rem;
  background-color: var(--bgc);
  padding: 0 2em;
  display: flex;
  transition: ease-in-out 0.5s;
  align-items: center;
}

.api-head:hover,
.endpoint:hover{
  opacity: 0.8;
  border: 1px solid rgba(122, 122, 122, 0.312);
}

.target{
  font-size: 1rem;
  color: var(--text);
  font-weight: 500;
}

.api-description{
  font-size: 0.8rem;
  color: var(--text-low);
  margin-left: 2em;
}

.chevron{
  width: auto;
  height: 1.2em;
  fill: var(--text-low);
  transform: rotate(180deg);
  transition: ease-in-out 0.6s;
}

.active{
  transform: rotateZ(0deg);
}

.api-head .chevron{
  margin-left: auto;
}

.endpoints{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.endpoint{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  background-color: var(--bgc);
  margin-top: 0.5em;
  border-radius: 10px;
  height: 4em;
  overflow: hidden;
  transition: ease-in-out 0.6s;
}

.expanded{
  height: 12.5em;
}

.endpoint-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 4em;
}

.methode{
  border-radius: 5px;
  padding: 0.25em 0.625em;
}

.methode p{
  font-size: 0.8rem;
  color: white;
}

.m-get{
  background-color: rgb(73, 165, 226);
}

.m-post{
  background-color: rgb(96, 218, 112);
}

.m-put{
  background-color: rgb(251, 141, 56);
}

.m-delete{
  background-color: rgb(229, 75, 75);
}

.route{
  font-size: 0.8rem;
  color: var(--text-low);
  margin-left: 2em;
}

.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.endpoint-title{
  font-size: 0.8rem;
  color: var(--text);
}

.lock{
  margin-right: 1em;
  width: auto;
  height: 1em;
  fill: var(--text-low);
}

.endpoint-body{
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--border-low);
  padding: 1em 0;
}

.endpoint-detail{
  font-size: 1rem;
  color: var(--text);
}

.detailed-text{
  font-size: 0.75rem;
  color: var(--text-low);
  padding: 1em 0;
}

.text{
  color: var(--text);
  opacity: 1;
}

.center{
  align-self: center;
  justify-self: center;
  margin: auto;
}

@media (max-width: 767px) {
    .header{
      padding: 1em;
      height: 7em;
    }

    .head-title{
      font-size: 0.9rem;
      margin-top: 0.5em;
    }

    .head-description{
      font-size: 0.75rem;
      margin-top: 0.5em;
    }
    .main-container{
      height: calc(100% - 7em);
      padding: 0 1em 1em 1em;
    }
    .api-head{
      padding: 0 1em;
    }
    .target{
      font-size: 0.8rem;
    }
    .api-description{
      font-size: 0.6rem;
    }
    .chevron{
      height: 1em;
    }
    .main-container::-webkit-scrollbar {
        width: 0;
    }
    .endpoint{
      padding: 0 1em;
    }
    .methode p{
      font-size: 0.5rem;
    }
    .route{
      font-size: 0.55rem;
      margin-left: 1em;
    }
    .endpoint-title{
      font-size: 0.6rem;
    }
    .endpoint-detail{
      font-size: 0.7rem;
    }
    .detailed-text{
      font-size: 0.65rem;
    }
    .title{
      display: none;
    }
}