/* Fonts */
@font-face {
    font-family: poppins;
    src: url(../fonts/poppins.ttf);
}

@font-face {
    font-family: poppins-black;
    src: url(../fonts/Poppins-Black.ttf);
}
/*-------*/

:root{
  --bt-radius: 0.3125rem;
  --input-radius: 0.3125rem;
  --page-pd: 2em;
  --ease-duration: 0.6s;
  --sidebar-width: 4em;
  --sidebar-expand: 12em;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: poppins;
    text-rendering: optimizeLegibility !important;
    font-smooth: always !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text);
}

#root, body{
    background-color: var(--bg);
    overflow-x: hidden;
}

.page, .page-row{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.page-row{
  flex-direction: row;
}

.content{
  width: calc(100vw - 6em);
  height: 100%;
}

.nav{
  width: 6em;
  height: 100vh;
}

.h4p{
    display: flex;
}

.h4pc{
  display: none;
}

.anim-float{
  animation: float 6s ease-in-out infinite;
}

.anim-float-fast{
  animation: float 4s ease-in-out infinite;
}

.anim-float-slow{
  animation: float 14s ease-in-out infinite;
}

/*  Media */


@media (max-width: 767px) {
  .btm{
    width: 100% !important;
    margin: 0 1em !important;
    margin-top: auto !important;
  }
}

/*--------*/