:root{
  --bt-radius: 0.3125rem;
  --input-radius: 0.3125rem;
  --page-pd: 2em;
  --ease-duration: 0.6s;
  --sidebar-width: 4em;
  --sidebar-expand: 12em;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: poppins;
    text-rendering: optimizeLegibility !important;
    font-smooth: always !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text);
}

#root{
    background-color: var(--bg);
}

.page, .page-row{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.page-row{
  flex-direction: row;
}

.content{
  width: calc(100vw - 6em);
  height: 100%;
}

.nav{
  width: 6em;
  height: 100vh;
}

.h4p{
    display: flex;
}

.h4pc{
  display: none;
}