/* Phones */
@media (max-width: 767px) {
    .page-row{
        flex-direction: column-reverse;
    }
    .content{
        width: 100vw;
        height: calc(100vh - 5em);
    }
    .nav{
        height: 5em;
        width: 100vw;
    }
    .h4p{
        display: none;
    }
    .h4pc{
        display: flex;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    
}