.st0 {
    stroke: #000;
}

.st0, .st1 {
    fill: none;
    stroke-miterlimit: 10;
}

.st1 {
    stroke: var(--logo);
    stroke-width: 13px;
}

.st2 {
    fill: var(--color-main);
}

.st3 {
    fill: var(--logo);
}

@media (prefers-color-scheme: dark) {
    :root{
        --logo: var(--color-second)
    }
}
@media (prefers-color-scheme: light) {
    :root{
        --logo: var(--color-second2)
    }
}