:root{
    --hour-height: 120px;
}

.calendar-header {
    border-bottom: 3px solid var(--border-low);
    padding: 0.5em 0.25em 1.25em 0.25em;
}

.calendar-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.calendar-body {
    display: grid;
    grid-template-columns: var(--hour-height) repeat(7, 1fr);
    overflow-y: auto;
    max-height: 70vh;
}

.day-header {
    position: sticky;
    top: 0;
    height: 4em;
    background-color: var(--bgc);
    z-index: 10;
}

.time-cell {
    height: calc(var(--hour-height) / 2); 
}

.day-cell {
    height: calc(var(--hour-height) / 2);
    border: 1px solid var(--border-low);
    position: relative;
}

.event-box {
    position: absolute;
    left: 4px;
    right: 4px;
    background: linear-gradient(var(--color-main), var(--color-main-low));
    border-radius: 6px;
    padding: 6px;
    font-size: 0.75rem;
    color: var(--text-high, white);
    overflow: hidden;
}
